@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl font-bold;
}
h2 {
  @apply text-4xl font-bold;
}
.my-transition {
  @apply transition-colors duration-200 ease-in-out;
}
.btn-hover {
  @apply hover:border-2 hover:border-black transition-colors duration-200;
}
.my-flex {
  @apply flex justify-center items-center;
}
.my-grid {
  @apply grid place-items-center;
}
.my-border {
  @apply border-2 border-black;
}
.categoriesMainDiv {
  @apply mx-4 mt-[2.6rem];
}
.productDisplayDiv {
  @apply px-8 mt-4 grid grid-cols-4 place-items-center gap-2 gap-y-4;
}
.productDisplayDivAdmin {
  @apply h-[30rem] overflow-y-scroll no-scrollbar;
}
.sagun .nichal .roshan .abijit{
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @apply font-heading;
}
